body{
    background-color:#f5f5f5;
}
*{
  margin:0;
  padding:0;
}
#mr{
  
}
#top{
    width:1000px;
    height: 140px;
    background:linear-gradient(to top, #005b96,#004878);
    margin-left:auto;
    margin-right:auto;
    font-family: "Roboto", sans-serif;
    text-decoration:none;
    color:#F0F0F0;
}
#bt1{
  font-size:40px; 
  padding-top: 3px;
  width:610px;
  margin-left:10px;
}
#bt2{
  font-size:22px;
  width:525px;
  margin-left:10px;
}
#home{
    font-size:40px;
    display: inline-block;
    margin-left: 760px;
    position: absolute;
    margin-top: -100px;
    border-bottom: 1px solid #F0F0F0;
    cursor:pointer;
}
#home:hover{
    border-bottom:1px solid #96005b;
}
#main{
  background-color:#ffffff;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:80px;
}
#mainc{
  font-family: "Roboto", sans-serif;
  text-decoration:none;
  width:100%;
  color:#202020;
}
#mainct{
  font-size:30px;
  text-align:center;
  width:620px;
  border-bottom:1px solid #a9a9a9;
  margin-left:auto;
  margin-right:auto;
  padding-top:30px;

}
#maincic{
    width:950px;
    padding-left:0px;
    padding-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}

#moc{
    width:600px;
    margin-left:auto;
    margin-right:auto;
    font-size:28px;
    margin-top: -20px;
}
#qs{
    width:290px;
    border:1px solid #e8e8e8;
    padding-bottom: 10px;
    display:inline-block;
    cursor:pointer;
}
#qs:hover{
    border:1px solid #005b96;
}
#qst{
    background:#f0f0f0;
    text-align: center;
    margin-bottom: 10px;
}
#qsp{
    font-size:18px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
}
#st{
    width:290px;
    border:1px solid #f0f0f0;
    padding-bottom:10px;
    display:inline-block;
    cursor:pointer;
}
#st:hover{
    border:1px solid #005b96;
}
#stt{
    background:#f0f0f0;
    text-align:center;
    margin-bottom:10px;
}
#stp{
    font-size:18px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
}
#t2{
  font-size:30px;
  text-align:center;
  width:620px;
  border-bottom:1px solid #a9a9a9;
  margin-left:auto;
  margin-right:auto;
  padding-top:30px;
}
#moc2{
    width:600px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}
#qs2{
    display:inline-block;
    border:1px solid #e8e8e8;
    width:290px;
    height:310px;
    padding-bottom: 10px;
}
#qs2t{
    text-align: center;
    font-size:28px;
    border-bottom:1px solid #e8e8e8;
}
.qs2i{
    width:280px;
    margin-left: 3px;
    background:#f0f0f0;
    padding-left: 3px;
    padding: 2px;
    font-size:20px;
    margin-top: 3px;
    cursor:pointer;
}
.qs2i:hover{
    background:#005b96;
    color:#efefef;
}
#st2{
    display:inline-block;
    border:1px solid #e8e8e8;
    width:290px;
    padding-bottom: 10px;
    height:310px;
}
#st2t{
    text-align: center;
    font-size:28px;
    border-bottom:1px solid #e8e8e8;
}
.st2i{
    width:280px;
    margin-left: 3px;
    background:#f0f0f0;
    padding-left: 3px;
    padding: 2px;
    font-size:20px;
    margin-top: 3px;
    cursor:pointer;
}
.st2i:hover{
    color:#efefef;
    background:#005b96;
}
#qs2ac{
    position: absolute;
}
#st2ac{
    position: absolute;
}
#bottom{
    width:1000px;
    margin-left:auto;
    margin-right: auto;
    height:400px;
    background-color:#005b96;
    color:#f0f0f0;
    font-family: "Roboto", sans-serif;
    text-decoration:none;
    padding-bottom:10px;
}
#bc{
    width:900px;
    margin-left: auto;
    margin-right: auto;
}
#bct{
    font-size:40px;
    text-align: center;
    padding-top: 10px;
    width:790px;
    border-bottom:1px solid #f0f0f0;
    margin-left:auto;
    margin-right:auto;
}
#bcd{
    width:250px;
    margin-top: 20px;
    display:inline-block;
    margin-left:30px;
}
#bcdt{
    width:174px;
    font-size:30px;
    margin-left:30px;
    border-bottom:1px solid #f0f0f0;
}
#bcdq{
    font-size:20px;
    margin-left: 30px;
    margin-top: 4px;
    border-bottom:1px solid #005b96;
    cursor:pointer;
    width:100px;
}
#bcdq:hover{
    border-bottom:1px solid #96005b;
}
#bcds{
    margin-top:8px;
    margin-left:30px;
    position: absolute;
}
#bcdst{
    font-size:24px;
    border-bottom:1px solid #f0f0f0;
    width:170px;
    margin-bottom:4px;
}
.bcdst{
    font-size:20px;
    margin-top:2px;
    border-bottom:1px solid #005b96;
    cursor:pointer;
}
.bcdst:hover{
    border-bottom:1px solid #96005b;
}
#bcs{
    width:250px;
    margin-top: 20px;
    display:inline-block;
    margin-left:25px;
}
#bcst{
    width:194px;
    font-size:30px;
    margin-left:30px;
    border-bottom:1px solid #f0f0f0;
}
#bcsq{
    font-size:20px;
    margin-left: 30px;
    margin-top: 4px;
    border-bottom:1px solid #005b96;
    cursor:pointer;
    width:100px;
}
#bcsq:hover{
    border-bottom:1px solid #96005b;
}
#bcss{
    margin-top:8px;
    margin-left:30px;
    position:absolute;
}
#bcsst{
    font-size:24px;
    border-bottom:1px solid #f0f0f0;
    width:170px;
    margin-bottom:4px;
}
.bcsst{
    font-size:20px;
    margin-top:2px;
    border-bottom:1px solid #005b96;
    cursor:pointer;
}
.bcsst:hover{
    border-bottom:1px solid #96005b;
}
#bcdr{
    width:250px;
    margin-top: 20px;
    display:inline-block;
    margin-left:15px;
}
#bcdrt{
    width:230px;
    font-size:30px;
    margin-left:30px;
    border-bottom:1px solid #f0f0f0;
}
#bcdrq{
    font-size:20px;
    margin-left: 30px;
    margin-top: 4px;
    border-bottom:1px solid #005b96;
    cursor:pointer;
    width:100px;
}
#bcdrq:hover{
    border-bottom:1px solid #96005b;
}
#bcdrs{
    margin-top:8px;
    margin-left:30px;
    position:absolute;
}
#bcdrst{
    font-size:24px;
    border-bottom:1px solid #f0f0f0;
    width:170px;
    margin-bottom:4px;
}
.bcdrst{
    font-size:20px;
    margin-top:2px;
    border-bottom:1px solid #005b96;
    cursor:pointer;
}
.bcdrst:hover{
    border-bottom:1px solid #96005b;
}






